  <h1>Trip Name</h1>
  <h3>Date</h3>
  <div class="members">
    <img src="member">
  </div>

  <input>Search</input>
  <input>Sort by</input>
  <button>Add Activity</button>

  <div class="eventcard">
    <img src="pulledfromebapi">
    <h2>Event name</h2>
    <p>Event description</p>
    <div class="postedby">
      <img src="profileimg">
      <img src="Posted by Matt Jonson">
    </div>
    <div class="voting">
      <img src="assets/img/upvote.png">
      <p>4</p>
      <img src="assets/img/downvote.png">
      <p>4</p>
    </div>