<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1.0, user-scalable=0">
    <title>Our Trips FINAL</title>
    <!-- jQuery -->
     <script src ="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <!-- Angular-->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>
    <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
    <!-- Custom code -->
    <script src="assets/js/gen.js"></script>
    <link href = "assets/css/app.css" rel="stylesheet" type = "text/css"/>
    
  </head>
  <body>
    <div ng-app="myApp" ng-controller="myCtrl">
      <header>
        <div ng-show="!secure" >
          <label>Password</label><input name="password" class="form-control" ng-model="password">
        </div>
        <div class ="container" ng-show="secure">
                <div class="trippage">
                <h1>Trip Name</h1>
                <h3>Date</h3>
                <div class="members">
                  <p >Names</p>
                </div>

                <input class="search" value="Search" ng-model="search">
                

                <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  Sort by
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li><a href="base.html?#/trip">Name</a></li>
                  <li><a href="base.html?#/trip">Date</a></li>
                  <li><a href="base.html?#/trip">Upvotes</a></li>
                </ul>
              </div>

                <button>Add Activity</button>

                <div class="eventcard">
                 <!--  <img src="../img/ebsample.jpg">-->
                  <h2>Event name</h2>
                  <p>Event description</p>
                  <p>Posted by Matt Jonson</p>
                  <div class="voting">
                    <!--  <img class="up" src="img/upvote.png">-->
                    <p class="upnum">4</p>
                    <!--  <img class="down" src="img/downvote.png">-->
                    <p class="downnum">4</p>
                  </div>
                </div>

              </div>
        </div>
    </div>

  </body>
</html>