<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Search for Events</title>

	<!-- libraries -->
	<script src="https://code.jquery.com/jquery.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.js"></script>
	<!-- Firebase -->
	<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>

	<!-- AngularFire -->
	<script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>

	<!--Scripts-->
	<script src="calendarEventbrite.js"></script>

</head>
<body>
	<!-- Initiate -->
	<div ng-app="myApp" ng-controller="myCtrl">
		<form class="container" name="searchForm">
			<input name="nameofEvent" class="searching" placeholder="Name of Event" ng-model="eventName"></input>

			<input name="nameofCity" class="searching" placeholder="Name of City" ng-model="city"></input>

			<input name="date" class="searching" placeholder="will have dropdown calendar" ng-model="date"></input>

			Group Size
			<input name="size" class="searching" placeholder="1" ng-model="size"> </input>
			
			<button ng-disabled="searchForm.search.$invalid" class="btn btn-primary" ng-click="getEvent()" type="submit"> Search </button>
		</form>

		<!-- Event Result-->

		<div class="row">
			<div class="col-xs-6">
				<div class="eventsSearchResult">
					<div ng-repeat="searchedEvent in searchedEvents" title="{{searchedEvent.name.text}}">
						{{searchedEvent.log.url}}
						<img class="logo" src="{{searchedEvent.logo.url}}"> 
						<h3>{{searchedEvent.name.text}}</h3>
						<p>{{searchedEvent.description.text}}</p>

						
					</div>
				</div>

			</div>
		</div>
	</div>
		
</body>
</html>