<div id="discoverpage">
  <h1>Discover</h1>

  <form>
    <input name="nameofEvent" class="searching" placeholder="Name of Event" ng-model="eventNameSearch"></input>
    <button type="submit">Search</button>
  </form>
  <div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Sort by
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <li><a href="#" ng-click="sortType='used'">Uses</a></li>
    <li><a href="#" ng-click="sortType='addedTime'">Date</a></li>
  </ul>
  </div>
  <h3 class="featured">Recently Added Events</h3>
  <div>
        <div class="eventcard" ng-repeat="(key,value) in events | orderBy : sortType | filter : eventNameSearch"><h3 ng-bind="value.title"></h3><p ng-bind="value.description"></p><button ng-click = "addEvent(value)">Add to Trip</button> <div class="voting">
                  </div></div>
 </div>
</div>