<div id="tripspage" >
  <h4>Welcome <span ng-bind="users[userId].email"></span>,</h4>
  <h1>Your Trips</h1>


  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="#" ng-click="sortType='title'">Name</a></li>
    <li><a href="#" ng-click="sortType='date'">Date</a></li>
  </ul>
</div>


    <!-- list of itins need filter and ng-repeat for each items -->
    <select multiple class="form-control">
        <option ng-repeat="(key,value) in itineraries | orderBy : sortType | filter : value.creatorId = currentUser | filter : search" ng-click="selectItinerary(key)" ng-bind="value.title"></option>
    </select>


    <!--creat itin -->
     <form ng-show = "!currentItinerary" name="itineraryForm" novalidate >
        <h4 class="formheader">Create New Itinerary</h4>
        <div class="form-group">
            <label>Itinerary Title:</label>
            <input name="itineraryTitle" class="form-control" ng-model="itineraryTitle" ng-minlength="1" required>
            <p ng-show="itineraryForm.itineraryTitle.$error.minlength" class="help-block">Itinerary title is invalid.</p>
        </div>
        <div class="form-group">
            <label>Itinerary Location:</label>
            <input name="itineraryLocation" class="form-control" ng-model="itineraryLocation" ng-minlength="1" required>
            <p ng-show="itineraryForm.itineraryLocation.$error.minlength" class="help-block">Itinerary title is invalid.</p>
        </div>
        <div class="form-group">
            <label>Itinerary Description:</label>
            <input name="itineraryDesc" class="form-control" ng-model="itineraryDesc" ng-minlength="1" required>
            <p ng-show="itineraryForm.itineraryDesc.$error.minlength" class="help-block">Itinerary description is invalid.</p>
        </div>
        <div class="form-group">
            <label>Itinerary Start Date:</label>
            <input type="date" name="itineraryDate" class="form-control" ng-model="itineraryDate" ng-minlength="1" required>
            <p ng-show="itineraryForm.itineraryDate.$error.minlength" class="help-block">Itinerary date is invalid.</p>
        </div>
        <div class="form-group">
            <label>Itinerary Image Link:</label>
            <input placeholder="http://" name="itineraryImage" class="form-control" ng-model="itineraryImage" ng-minlength="1" required>
            <p ng-show="itineraryForm.itineraryImage.$error.minlength" class="help-block">Itinerary image is invalid.</p>
        </div>
        <div class="form-group">
            <label>Itinerary Password:</label>
            <input type="password" name="itineraryPassword" class="form-control" ng-model="itineraryPassword" ng-minlength="1" required>
            <p ng-show="itineraryForm.itineraryPassword.$error.minlength" class="help-block">Itinerary password is invalid.</p>
        </div>
        <!-- ng-disabled="itineraryForm.$invalid"  Add an error message if the length is too short -->
        <div class="form-group">
            <button ng-click="createNewItinerary()" class="btn btn-success">Create</button>
        </div>
    </form>
    <!-- end of create itin -->


    <!-- if there is a itin display -->
            <div ng-show="currentItinerary">
                <div class="form-group">
                    <h3>{{itineraries[currentItinerary].title}} Summary: </h3>
                    <div ng-repeat="(key,value) in itineraries[currentItinerary] ">
                        <div ng-if="key == 'image'">
                            <img class="itinimg" src="{{value}}">
                        </div>
                    </div>
                    <div ng-repeat="(key,value) in itineraries[currentItinerary] ">
                        <div ng-if="key == 'password' || key == 'location' || key == 'description'">
                            <label class="setwidth">{{key}}: </label>
                            <div class="itinval">{{value}}</div>
                        </div>
                    </div>  
                </div>
            </div>
    <!-- end of itin display -->
    



       <!-- start of form group -->
            <div class="form-group">
                <h4 class="formheader">Create New Event (check current itinerary for latest date</h4>
                <label>Event Title:</label>
                <input name="eventTitle" class="form-control" ng-model="eventTitle" ng-minlength="1" required>
                <p ng-show="myForm.eventTitle.$error.minlength" class="help-block">Event title is invalid.</p>
            </div>
            <div class="form-group">
                <label>Event Location:</label>
                <input name="eventLocation" class="form-control" ng-model="eventLocation" ng-minlength="1" required>
                <p ng-show="myForm.eventTitle.$error.minlength" class="help-block">Event location is invalid.</p>
            </div>
            <div class="form-group">
                <label>Itinerary Description:</label>
                <input name="eventDescription" class="form-control" ng-model="eventDescription" ng-minlength="1" required>
                <p ng-show="myForm.eventDescription.$error.minlength" class="help-block">Event description is invalid.</p>
            </div>
            <div class="form-group">
                <label>Event Date:</label>
                <input type="date" name="eventDate" class="form-control" ng-model="eventDate" ng-minlength="1" required>
                <p ng-show="myForm.eventDate.$error.minlength" class="help-block">Event date is invalid.</p>
            </div>
            <div class="form-group">
                <label>Event End Date:</label>
                <input type="date" name="eventDateEnd" class="form-control" ng-model="eventDateEnd" ng-minlength="1" required>
                <p ng-show="myForm.eventDateEnd.$error.minlength" class="help-block">Event date is invalid.</p>
            </div>
            <div class="form-group">
                <label>Event Image:</label>
                <input placeholder="http://" name="eventImage" class="form-control" ng-model="eventImage" ng-minlength="1" required>
                <p ng-show="myForm.eventImage.$error.minlength" class="help-block">Event image is invalid.</p>
            </div>
            <div class="form-group">   
                <label>Event Price:</label>
                <input type="number" name="eventPrice" class="form-control" ng-model="eventPrice" ng-minlength="1" required>
                <p ng-show="myForm.eventPrice.$error.minlength" class="help-block">Event price is invalid.</p>
            </div>
            <div class="form-group">
                <label>Event Start Time:</label>
                <input type="time" name="eventStart" class="form-control" ng-model="eventStart" ng-minlength="1" required>
                <p ng-show="myForm.eventStart.$error.minlength" class="help-block">Event start is invalid.</p>
            </div>
            <div class="form-group">
                <label>Event End Time:</label>
                <input type="time" name="eventEnd" class="form-control" ng-model="eventEnd" ng-minlength="1" required>
                <p ng-show="myForm.eventEnd.$error.minlength" class="help-block">Event end is invalid.</p>
            </div>

          
          <button ng-click="createNewEvent()" class="btn btn-success">Create</button>
</div><!-- end of ng-show currentItin-->
<!-- end -->
</div>